
body {
    font:size 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/*changes website header color*/
header {
    background-color:rgb(135, 229, 173) 
}

/*changes website footer color*/
footer {
    background-color:rgb(135, 229, 173);
}

.site-title {
    color: rgb(0, 68, 27);
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

.unordered-list :nth-child(odd) {
    background-color: rgb(194, 255, 229);
      
}

.unordered-list {
    list-style-type:square;
}

 .navigation-style {
    list-style: none;
   background-color: rgb(169, 255, 226);
   border-style:solid;
 }

 a:link {
    text-decoration: none;
 }

 a:hover, a:active {
text-decoration: none;
color:rgb(234, 255, 0)
}
