/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/ HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* changes font text and main body color */
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(253, 199, 134);
}

/* changes the paragraph text size */
p {
    font-size: 14px;
}


/* changes the wrapper color, margin, width, and padding */
.wrapper {
    background-color: rgb(255, 218, 172);
    margin: 0 auto;
    width: 50%;
    padding: 0.5%;
}

/* styles the image size, left align and adds padding */ 
#ball-hoop {
     width: 25%;
     float: left;
     padding: 0% 2% 2% 0%;
}

/* creates border and styles it */
.box {
   border:solid;
  padding: 1%;
  border-width: thin;
}

/* adds padding and right aligns footer */
footer {
    text-align: right;
    padding: 2%;
}

/* changes top heading font size */
h1 {
    font-size: 50px;
}

/* changes life of basketball font size */
h2 {
    font-size: xx-large;
}


/* changes 2 heading font sizes */
h3 {
    font-size: x-large;
}

/* creates horizontal nav bar while giving it padding, making it uppercase, changing font size, and margin */
nav ul li {
    display:inline;
    padding: 80px;
    padding-top: 1%;
    padding-bottom: 0.5%;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-top: 5%;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}


/* creates a border solely on the right side of home text of black 1px style */
#navhome {
    border-right: 1px solid black;
}

/* creates a border solely on the right side of story text of black 1px style */
#storyhome{
   border-right: 1px solid black; 
}

/* creates the size of the line and aligns it */
.nav {
    line-height: 40px;
    text-align: center;
}

/* changes the positions of the top text, basketball */
.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* aligns the text and changes color */
.container {
    position: relative;
    text-align: center;
    color: rgb(217, 234, 228);
}

/* stretches the texbox for the name option */
#fullname {
    width: 98%;
    margin-bottom: 2%;
}

/* stretches the texbox for the email option */
#email {
    width: 98%;
    margin-bottom: 2%;
}

/* stretches the texbox for the message option and adds padding and margin */
#comments {
    width: 98%;
    margin-bottom: 2%;
    padding-bottom: 5%;
}

/* changes the width of the big netting image and giving a left border */
#netting {
    width: 100%;
    border-left: 2px solid rgb(112, 112, 112);
}

/* changes the the background color of button, border color, border style and size, gives it padding, margin, and changes font size */
#missyourob {
    background-color: rgb(255, 218, 172);
    color: black;
    border: 1px solid;
    padding: 1%;
    margin-top: 2%;
    font-size: small;
}

/* changes the font size of the listed items facts about basketball */
.padding {
    font-size:15px;
    
}

/* gives the list items circle bullet points */
ul li {
    list-style:outside;

}

/* changes padding between question and message textbox */
#question {
    padding-bottom: 1%;
}

/* changes padding between text and texbox for name */
#fullname {
    margin-top: 1%;
}

/* changes padding between text and texbox for email */
#email {
    margin-top: 1%;
}

/* changes padding between text and texbox for message */
#comments {
    margin-top: 1%;
}