/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*sets the line the line height and font for all of the body text, also sets it so you can't scroll side to side*/
body {
	line-height: 1;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;

}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: no
    ne;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*************************************
CSS BEGIN
*************************************/

/*sets the header color*/
header {
    background-color: #222;
}

/* has a class for background logo, and changes the color inside the header*/
.backgroundlogo {
    background-color: darkgoldenrod;
}

/*sets individually the home item in the nav bar to a different color, aligns it, with font-size and padding*/
#home {
    color: #222;
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 16pt;
}

/*sets the rest of the nav items with the color, aligns the text, changes the font size and displays block it*/
#navtab {
    color: darkgoldenrod;
    display: block;
    text-align: center;
    font-size: 16pt;
}

/*sets the hover mode to none on any hyperlinks*/
a:link, a:visited {
    text-decoration: none;
}

/*sets the copyright and unsplash text text color*/
.copyright {
    color: darkgoldenrod;
}

.unsplashtag {
    color: darkgoldenrod;
}

/*sets the footer background color and color*/
footer {
    background-color: #222;
    color: darkgoldenrod;
}
/*sets the hover mdoe to a specific color in the nav items and unsplash tag*/
    a:hover {
        color: #222;
        background-color: #c78c06;
    }
/*adds color and padding in the nav items*/
#navtab {
    color: darkgoldenrod;
    padding: 15px;
}
/*sets the main title color, font size, and weight*/
.title {
    color: white;
    font-size: 3.5rem;
    font-weight: 900;
}

/*sets all heading 3 font size, weight, and margin*/
h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
}
/*sets all heading 2 font size, weight, and padding*/
h2 {
    font-size: 2.5rem;
    font-weight:900;
    padding: 10px;
}

/*sets all body text line height and padding*/
p {
    line-height: 15px;
    padding: 10px;
}

/*gives margin to nav bar*/
nav {
    margin: 0 15px;
}

/*sets one button at homepage colors, border, margin, font size, and padding*/
#button {
    background-color: black;
    color: darkgoldenrod;
    border: none;
    margin: 12px;
    font-size: 1.3rem;
    padding: 3px;

}

/*sets the icon color, border, styles, and padding*/
.fa-search {
    color: darkgoldenrod;
    border: 1px solid darkgoldenrod;
    border-radius: none;
    background-color: black;
    padding: 4px;
}

/*styles teh table layout for hours*/
table {
    table-layout: fixed;
}

/*style the main table for hours*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    width: 95%;
    margin: 10px;
}

th {
    background-color: #ffe6ac;
}

/*styles the map width, display, margin, and padding*/
iframe {
    width: 95%;
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

/*sets the connect button color, margin, border, padding, font size, margin, and font*/
.connect {
    background-color: #e6a50f;
    margin: auto;
    border: none;
    padding: 20px;
    font-size: 12pt;
    margin: 15px;
    font-family: 'Open Sans', sans-serif;;
}

/*sets the play icon padding and color*/
.fa-play {
    padding-left: 18px;
    color: white;
}

/*styles the digital plans button color, border, padding, font, and size*/
.digitalbutton {
    background-color: #222;
    color: white;
    border-style: none;
    padding: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

/*styles the marketing button color, border, padding, font, and size*/

.marketingbutton {
    background-color: #222;
    color: white;
    border-style: none;
    padding: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

/*styles the video plans button color, border, padding, font, and size*/
.videobutton {
    background-color: #222;
    color: white;
    border-style: none;
    padding: 16px;
    font-size: larger;
    font-family: 'Open Sans', sans-serif;
}

/*styles the web plans button color, border, padding, font, and size*/
.webbutton {
    background-color: #222;
    color: white;
    border-style: none;
    padding: 16px;
    font-size: larger;
    font-family: 'Open Sans', sans-serif;
}

/*styles the print plans button color, border, padding, font, and size*/
.printbutton {
    background-color: #222;
    color: white;
    border-style: none;
    padding: 16px;
    font-size: larger;
    font-family: 'Open Sans', sans-serif;
}

/*adds banner image, makes it not repeat, gives it color, width, padding,size, and positioning*/
.homepage {
    background-image: url(../images/main-banner.jpg);
    background-color: rgba(72, 54, 54, 0.6);
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    max-width: 1200px;
    padding: 25px 0px;
    background-position: center;
    background-size: cover;
    position: relative;
}

/*adds background color to about section*/
.about {
    background-color: #ffe6ac;
    display: grid;

}

/*gives the about us image a display of block, padding, width, and margin*/
.aboutusimg {
    display: block;
    padding-top: 12px;
    width: 95%;
    max-width: 1100px;
    margin: auto;

}

/*adds background color to digital section*/
.ditr {
    background-color: #ffe6ac;
    padding: 8px;
    margin: 0px 10px 10px 10px;
}

/*adds background color to marketing section*/
.marketing {
    background-color: #ffe6ac;
    padding: 8px;
    margin: 0px 10px 10px 10px;
}

/*adds background color to video production section*/
.videoproduction {
    background-color: #ffe6ac;
    padding: 8px;
    margin: 0px 10px 10px 10px;
}

/*adds background color to web dev section*/
.webdev {
    background-color: #ffe6ac;
    padding: 8px;
    margin: 0px 10px 10px 10px;
}

/*adds background color to print plans section*/
.print {
    background-color: #ffe6ac;
    padding: 8px;
    margin: 0px 10px 10px 10px;
}

/*adds background color to john image, padding, and margin*/
.john {
    background-color: #ffe6ac;
    padding: 2px;
    margin: 0px 10px 10px 10px;
}

/*adds background color to bob image, padding, and margin*/
.bob {
    background-color: #ffe6ac;
    padding: 2px;
    margin: 0px 10px 10px 10px;

}

/*styles the learn more button border, color, size, paddings, font, margin*/
.learnbutton {
    border: 2px solid darkgoldenrod;
    background-color: #222;
    color: white;
    font-size: larger;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 10px 10px 10px;
    background-color: rgba(22,22,22, 0.8);


}

/*sets the unsplash hyperlink a color*/
.unsplashhyper {
color: darkgoldenrod;
}

/*styles the heading 5 border, and padding*/
h5 {
    border-bottom: 3px solid #c78c06;
    padding-bottom: 6px;
    padding-left: 8px;
}

/*removes the underline and bullet points from nav list items*/
ul, li {
    list-style-type: none;
    margin: 15px;
}

/*sets the main title of Three Star Media color, width, and padding*/
.maintitle {
    background-color: rgba(72, 54, 54, 0.8);
    color: white;
    width: 100%;
    max-width: 1200px;
    padding: 5px;
}


/*sets the first arrow icons padding*/
.fa-caret-right {
    padding: 10px;
}

/*sets the main title heading 1 font size, weight, and height*/
.maintitle h1 {
    font-size: 3rem;
    font-weight: 900;
    padding: 10px;
    line-height: 50px;
}

/*sets the digital image width, margin, padding*/
.imgdigital {
    width: 95%;
    margin: auto;
    padding-right: 5px;
    padding-top: 15px;
    margin: 0px 10px 0px 10px;
}

/*sets the market image width, margin, padding*/
.market {
    width: 95%;
    margin: auto;
    padding-right: 5px;
    padding-top: 15px;
    margin: 0px 10px 0px 10px;
}

/*sets the video production image width, margin, padding*/
.vidprod {
    width: 95%;
    margin: auto;
    padding-right: 5px;
    padding-top: 15px;
    margin: 0px 10px 0px 10px;
}

/*sets the web develop image width, margin, padding*/
.webdevelop {
    width: 95%;
    margin: auto;
    padding-right: 5px;
    padding-top: 15px;
    margin: 0px 10px 0px 10px;
}

/*sets the print image width, margin, padding*/
.printimgthing {
    width: 95%;
    margin: auto;
    padding-right: 5px;
    padding-top: 15px;
    margin: 0px 10px 0px 10px;
}

/*gives all heading 3s padding top*/
h3 {
    padding-top: 17px;
}

/*gives all heading 2s padding top*/
h2 {
    padding-top: 30px;
}

/*changes the font size to all paragraph text*/
p {
    font-size: 10px;
}

/*gives margin to the whole bob pic*/
.bobdude {
    margin: 0px 10px 10px 10px;
}

/*gives margin to the whole john pic*/
.johnpic {
    margin: 0px 10px 10px 10px;
}

/*changes the our vision image width, padding, position, and size*/
.ourvision {
    background-image: url(../images/vision.jpg);
    width: 100%;
    padding: 10px;
    background-position: center;
    background-size: cover;
    position: relative;
}

/*changes the our vision heading color to white*/
.ourvisionheading {
    color: white;
}

/*changes the all text color to white*/
.loremvision {
    color: white;
}

/*gives john pic width*/
.johnpic {
    width: 96%;
}

/*gives bob pic width*/
.bobdude {
    width: 96%;
}

/*sets the contact us font, size, margin, and color*/
.contacttitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 0px, 10px, 0px, 10px;
    color: black;
}

/*text input in form changes width, margin, height, border*/
input[type=text2] {
    width: 95%;
    max-width: 1100px;
    margin: 2px;
    line-height: 20px;
    border: 1px solid #222;
    min-height: 200px;
    border-radius: 2px;
}

/*text input in form changes width, margin, height, border*/
input[type=text] {
    width: 95%;
    max-width: 1100px;
    margin: 2px;
    line-height: 20px;
    border: 1px solid #222;
    border-radius: 2px;
}

/*targets full name label and changes the size and margin*/
.namefull {
    font-size: 8pt;
    margin: 10px;
}

/*targets email label and changes the size and margin*/
.emailthing {
    font-size: 8pt;
    margin: 10px;
}

/*targets messgae label and changes the size and margin*/
.labelmessage {
    font-size: 8pt;
    margin: 10px;
}

/*targets all three labels and gives them padding*/
.threelabels {
    padding-left: 2px;
}

/*gives padding to hours of operation*/
.hof {
    padding-left: 4px;
}

/*targets location label and gives padding*/
.locationlabel {
    padding-bottom: 4px;
}




/********************************
DESKTOP VERSION
********************************/



/*gives media screen and main content and sidebar and sets width and float*/
@media screen and (min-width: 400px){
    .main-content{
      width: 70%;
      float: left;
    }
    .sidebar{
      width: 29%;
      float: right;
    }
  }


/*gives media screen and digital section and gives it padding, display, and flex*/
  @media screen and (min-width: 1200px) {
    .ditr {
        padding: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .digitalimageimg {
        padding: 3em;
        width: 50;
        float: left;
    }
}

/*gives media screen and digital image and gives it display, grid, and width*/
@media screen and (min-width: 750px) {

.digitalimageimg {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 40%;
}

.marketingimageimg {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 40%;
}
}

/*gives media screen to video production, web dev, and print section, and sets the display, grid, and width*/
@media screen and (min-width: 750px) {
    .allvideoprod {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 25%;
    }

    .allwebdev {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 25%;
    }

    .allprint {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 25%;
    }
}

/*gives media screen to john and bob sections and sets the display, grid, width, float*/
@media screen and (min-width:750px) {
    .alljohn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 50%;
    }

    .allbob {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 50%;
        float: right;
    }
}

/*gives media screen to send us a message section and location section and gives it display, grid, width, and float*/
@media screen and (min-width:750px) {
    .leftsendarea {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 45%;
    }

    .location {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 45%;
        float: right;
    }
}

/*gives media screen to about us section and sets display, grid, width, padding*/

@media screen and (min-width:1120px) {
    .about {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 50%;
        padding-right: 50%;
        grid-template-rows: 2fr;

    }
}

/*gives media screen to hours of operation and table section and sets flex, display, and width*/
@media screen and (min-width:750px) {
    .hofandtable {
        flex-wrap: wrap;
        display: grid;
        width: 50%;
    }
}
/*gives media screen and targets form section and gives it padding top*/
@media screen and (min-width:750px) {
    .form {
        padding-top: 20%;
    }
}
