/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************************
CSS BEGIN
*************************************/

header {
    background-color: #222;
}

.backgroundlogo {
    background-color: darkgoldenrod;
}

#home {
    color: #222;
    display: block;
    text-align: center;
}

#navtab {
    color: darkgoldenrod;
    display: block;
    text-align: center;
}

a:link, a:visited {
    text-decoration: none;
}

.copyright {
    color: darkgoldenrod;
}

.unsplashtag {
    color: darkgoldenrod;
}

footer {
    background-color: #222;
    color: darkgoldenrod;
}

a:hover {
    background-color: #c78c06;
    color: black;
}

.navtab {
    color: darkgoldenrod;
}

.title {
    color: white;
    font-size: 60px;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
}

h2 {
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 10px;
}

p {
    line-height: 15px;
    padding: 10px;
}

nav {
    margin: 0 15px;
}

#button {
    background-color: black;
    color: darkgoldenrod;
    border: none;
    margin: 20px;
    font-size: 1.5rem;

}

.fa-search {
    background-color: black;
    border-radius: none;
    border: 1px solid darkgoldenrod;
}

table {
    table-layout: fixed;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    width: 90%;
    margin: auto;
}

th {
    background-color: #ffe6ac;
}

iframe {
    width: 95%;
    display: block;
    margin: auto;
}

input[type=text] {
    width: 90%;
    max-width: 1100px;
    margin: 20px;
    line-height: 20px;
    border: 1px solid #222;
}